body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100%;
}

a:link {
  color: #5c463e; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #5c463e;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5c463e;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #5c463e;
  background-color: transparent;
  text-decoration: underline;
}

.tooltip {
  pointer-events: none;
}

/*.popover-body {
  /*min-width: 500px;*/
  overflow-y: auto;
  overflow-x: auto;
  /*white-space:pre-wrap;*/
}*/

.pi-caption {
  width: 100%;
  text-align: center;
}

.dablink, .pi-navigation, #scroll-banner, .toc, .thumbcaption, .thumb, .noprint, #Gallery, #gallery-0, #External_Links, .pi-caption, .pi-image-thumbnail, .lfr-link, img {
  display: none; /* Hidden by default */
}

.pi-group {
  margin-bottom: 30px;
}
.pi-header {
  background-color: lightgray;
  padding-left: 10px;
  margin-left: -25px;
  margin-right: -25px;
}
.pi-title {
  margin-top: -30px;
  text-align: center;
}

#main{
   background-color: BurlyWood;
   float: right;
   position: absolute;
   height:100%;
   width:  100%;
   right: 0;
   left:0px;
}

#referencelink {
  background-color: lightgray;
  padding: 10px;
}

#overlay {
  /*position: fixed;  Sit on top of the page content */
  /*max-width: 30%;*/
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  overflow: auto;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#sidebar{
  display: none;  /* Hidden by default */    
   width:30%;
   float: left;
   position: absolute;
   height:100%;
   overflow-y: hidden;
}

#dragbar{
   background-color:black;
   height:100%;
   float: right;
   width: 5px;
   cursor: col-resize;
}
#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}

