body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100%;
}
.popover-body {
    /*min-width: 500px;*/
    overflow-y: auto;
    overflow-x: auto;
    /*white-space:pre-wrap;*/
}